@charset 'utf-8';
@font-face {
  font-family: 'Ownglyph_jooreeletter-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_jooreeletter-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ownglyph_jooreeletter-Rg';
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
body {
  overflow: hidden;
}
.hidden {
  display: none;
}

.inner {
  width: 80%;
  margin: 0 auto;
}
/* main */
main > section {
  height: 100vh;
  padding: 150px 100px;
}
main > section.section1 {
  background: url(/img/bg.png) no-repeat 50% / cover;
}
main > section.section1 h3 {
  display: block;
  width: 550px;
  height: 250px;
  margin: 0 auto;
  background: url(../img/main-title1.png) no-repeat 50% / contain;
}
main > section.section1 h1 {
  width: 550px;
  height: 250px;
  margin: 0 auto;
}
main > section.section1 h1 .brilliant {
  width: 100%;
  height: 100%;
  background: url(../img/main-title1.png) no-repeat 50% / contain;
}
main > section.section1 h1 .records {
  width: 100%;
  height: 100%;
  margin-top: -30px;
  background: url(../img/main-title2.png) no-repeat 50% / contain;
}
main > section.section1 p {
  font-size: 2.2rem;
  text-align: center;
  background: rgba(166, 227, 105, 0.2);
  top: 330px;
  position: relative;
}
main > section.section1 p b {
  font-size: 2.5rem;
}
main > section.section1 p::before {
  content: '';
  display: block;
  position: absolute;
  top: -150px;
  right: 285px;
  width: 200px;
  height: 200px;
  background: url(../img/main-pencil.png) no-repeat 50% / contain;
}
.wrap-paper {
  display: block;
  width: 675px;
  height: 619px;
  position: relative;
  background: url(../img/main-picture-picture.png) no-repeat 50% / contain;
  top: -678px;
  left: -100px;
}
.wrap-paper::before {
  content: '';
  position: absolute;
  display: block;
  width: 780px;
  height: 275px;
  top: 180px;
  left: -19px;
  background: url(../img/main-picture-paper.png) no-repeat 50% / contain;
  z-index: 1;
}

main > section.section2 {
  background: yellow;
  background: url(/img/bg.png) no-repeat 50% / cover;
}

main > section.section3 {
  background: green;
  background: url(/img/bg.png) no-repeat 50% / cover;
}

main > section.section4 {
  background: blue;
  background: url(/img/bg.png) no-repeat 50% / cover;
}
#footer {
  height: 50px;
  line-height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
}
.btn-top {
  position: fixed;
  bottom: 100px;
  right: 100px;
  background: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 #000;
  width: 70px;
  height: 70px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.indicator {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.indicator button {
  border: none;
  width: 40px;
  height: 40px;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.indicator button:nth-child(1) {
  background: #ffe828;
}
.indicator button:nth-child(2) {
  background: #32cd32;
}
.indicator button:nth-child(3) {
  background: #ff1493;
}
.indicator button:nth-child(4) {
  background: #1e6cfc;
}
.indicator button.on {
  font-size: 1.2rem;
  width: 100px;
}
.indicator button.on:nth-child(1)::before {
  content: 'About Me';
  color: #000;
}
.indicator button.on:nth-child(2)::before {
  content: 'Works';
  color: #000;
}
.indicator button.on:nth-child(3)::before {
  content: 'Experience';
  color: #000;
}
.indicator button.on:nth-child(4)::before {
  content: 'Contact Me';
  color: #fff;
}
.indicator button b {
  display: none;
}
